.LoginPage {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginPage form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.LoginPage div {
    margin: 0.5em;
}