.Channel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.Channel div {
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
}

.Channel div:nth-child(1) {
    display: flex;
    align-items: center;
}

.Channel h1 {
    margin-left: 0.4em;
    /* background-color: */
    color: rgb(124, 144, 255);
}

.Channel h2 {
    margin-left: 0.4em;
    margin-top: 0.2em;
    /* align-self: center; */
}


.Channel h4{
    /* margin-left: 0.4em; */
    font-weight: 500;
}
.Channel .sent-at {
    color:rgba(255, 255, 255, 0.662);
    font-size: 0.8em;
    align-self: center;
    padding: 0.5em;
    transition: 0.2s;
}

.Channel .sent-at:hover {
    color:rgb(255, 255, 255);
    font-size: 0.9em;
}

.Channel p {
    margin-left: 0.7em;
    color: rgb(0, 255, 0);
}

.message {
    border: 1px solid rgba(126, 126, 126, 0.299);
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    margin-top: 0.5em;
    max-width: fit-content;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.59);
    margin-left: 1em;
    transition: 0.2s;
}

.message:hover {
    background-color: rgb(95, 95, 95);
    cursor: pointer;
    /* transition: 0.2s; */
}
.message:active {
    background-color: rgb(182, 182, 182);
    cursor: pointer;
    transition: 0s;
}

.Channel form {
    display: flex;
    position: fixed;
    bottom: 1em;
    width: 100%;
}

.Channel input {
    padding: 0.5em 1em;
    width: 40%;
    margin-left: 1em;
    margin-right: 1em;
}

.Channel .please-login-msg {
    position: fixed;
    bottom: 1em;
    margin-left: 1em;
    color:rgb(133, 133, 133);
    font-weight: 300;
}

.Channel .edit-msg {
    position: fixed;
    bottom: 4em;
    margin-left: 1em;
    color:rgb(133, 133, 133);
    font-weight: 300;
}

.channel-title {
    background-color: rgb(53, 53, 53);
}


@media(max-width: 800px) {
    .Channel .message {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        align-items: flex-start;
        margin: unset;
        margin: 1em 0.5em;
    }

    .Channel div:nth-child(1) {
        display: unset;
        align-items: unset;
    }

    .Channel p {
        margin-left: unset;
        color: rgb(0, 255, 0);
    }

    .Channel .sent-at {
        display: none;
    }
}