.DmList {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* border:1px dashed rgb(143, 155, 8); */
    width: 100%;
}

.DmList h3 {
    background-color: rgb(55, 73, 123);
    width: 100%;
    text-align: center;
}

.DmList p {
    margin-top: 0.5em;
}

/* .DmList a:visited {
    color: rgb(48, 152, 255);
}

.DmList a:hover {
    color: rgb(255, 255, 255);
    transition: 0.2s;
} */

.DmList a {
    color: rgb(48, 152, 255);
    text-decoration: none;
    /* transition: 0.2s; */
}

.DmList a.active {
    font-weight: 600;
    color: rgb(119, 187, 255);
}

.DmList .disabled {
    pointer-events:none;
    color: gray;
    text-decoration: line-through;
}
